.python-version


# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.ruff_cache/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

